boto3==1.38.40
botocore==1.38.40
certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
requests==2.32.4
rich==14.0.0
s3transfer==0.13.0
six==1.17.0
typing_extensions==4.14.0
urllib3==1.26.20
